*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header{
    background: rgb(106, 173, 196);
    color: white;
    text-align: center;
    padding: 10px;
}

.container{
    background-image: url('../images/people.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 85vh;
    background-size: cover;
    display: flex;
    position: relative;
  
}

.formContainer{
    width: 320px;
    height: 500px;
    top: 100px;
    right: 0;
    margin-right: 40px;
    padding: 20px;
    background: rgba(177, 174, 174, 0.589);
    display: flex;
    flex-direction: column;
    position: absolute;
}

.formContainer h2{
    font-size: 20px;
    padding-bottom: 15px;
}

.formContainer p{
    font-size: 16px;
    padding-bottom: 15px;
}

.formContainer input{
    margin-bottom: 10px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    
}


.formContainer select{
    margin-bottom: 10px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
}

.formContainer button{
    height: 40px;
    font-size: 16px;
    background: rgb(106, 173, 196);
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    
}

.formContainer button:hover{
    background-color:rgb(76, 121, 136); 
    transition: all .5s ease;
}

input, select {
    outline: 0;
}

.footerContainer{
    background: rgb(36, 33, 33);
    color: white;
    display: flex;
    justify-content: center;
}

.footerImg{
    padding: 30px;
}

.footerImg img{
    width: 100%;
    height: 300px;
}


.infoFooter{
    padding: 50px;
    width: 30%;
}

.infoFooter h2{
    padding-bottom: 30px;
}

.footerContainer p{
    padding-bottom: 30px;
}



/* =================== MEDIA QUERIES (medium devices) =================== */

@media screen and (max-width: 1024px) {
    .formContainer{
        justify-content: center;
        position: relative;
        top: 20px;
        margin: 0 auto;
        
    }
    
    .infoFooter{
        width: 50%;
    }

  }
  
  /* =================== MEDIA QUERIES (small devices) =================== */
  
  @media screen and (max-width: 600px) {
   
    .footerContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .infoFooter{
        width: 100%;
    }

    .footerImg img{
        object-fit: cover;
    }
}